@font-face {
   font-family: 'Poppins';
   src: url('/clarity_backend_theme_bits/static/src/fonts/Poppins-Regular.ttf') format('truetype');
}
@font-face {
   font-family: 'Poppins-SemiBold';
   src: url('/clarity_backend_theme_bits/static/src/fonts/Poppins-SemiBold.ttf') format('truetype');
}
@font-face {
   font-family: 'Poppins-Medium';
   src: url('/clarity_backend_theme_bits/static/src/fonts/Poppins-Medium.ttf') format('truetype');
}
@font-face {
   font-family: 'Poppins-Bold';
   src: url('/clarity_backend_theme_bits/static/src/fonts/Poppins-Bold.ttf') format('truetype');
}

